<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>About Us</h6>
      </a>

      <h4 class="h4 mb-4">Our Mission</h4>

      <p class="font-weight-normal">Our products and services support our core mission: To improve the social, economic, and environmental well-being of our communities and ecosystems.
Through product research, development and training, we package best-in-class, sustainable building products with vertically integrated value-added services, then educate industry professionals on how, why and where to use them.</p>
      <p class="font-weight-normal">by <a><strong>Dariusz Wisniewski</strong></a>, 08/05/2020</p>

      <a class="btn btn-success">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->