
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Darek's Project</h1>
      <p>
        A concern for the environment and health has created an eco-friendly social movement
        with the need to live a green lifestyle. For many, living green is achievedin part
        through the purchased of organic food and eco-friendly products.
        Our core mission is to improve the social, economic, and environmental well-being of
        our communities and ecosystems.
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Providers List</h2>
        <p>
          We support our suppliers in their pursuit of continuous improvement
          and operational excellence. At the same time, we expect our suppliers
          to meet the highest standards in terms of quality, ethics and sustainability.

        </p>
        <p>
          <a
            class="btn btn-secondary"
            [routerLink]="['/providers']"
            role="button"
            >List All Providers in the Database &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-6">
        <h2>Providers Register</h2>
        <p>
          We want to work with suppliers who share our commitment to sustainability.
          If you interested in collaborating and sharing experiences with Natural Sapiens,
          please fill out this form register and send it to us.
        </p>
        <p>
          <a
            class="btn btn-secondary"
            [routerLink]="['/register']"
            role="button"
            >Register A New Provider &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>
