<form [formGroup]="frmUsuario" class="form-signin">
  <img
    class="mb-4"
    src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg"
    alt=""
    width="72"
    height="72"
  />
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="txtUsuario" class="sr-only">User ID</label>

  <input
    name="txtUsuario"
    type="text"
    formControlName="usuario"
    class="form-control"
    placeholder="Type your user id"
    required
    autofocus
  />
  <label for="txtUsuario" class="sr-only">Password</label>
  <input
    name="txtUsuario"
    type="password"
    formControlName="password"
    class="form-control"
    placeholder="Password"
    required
  />

  <button
    class="btn btn-lg btn-primary btn-block"
    type="button"
    (click)="validarUsuarioAsync()"
  >
    Sign in
  </button>
  <div
    class="alert alert-info"
    role="alert"
    *ngIf="mensaje && mensaje.length > 0"
  >
    {{ mensaje }}
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; Neoland 2020</p>
</form>
